
@{
    ViewBag.Title = "Failure";
}

<h2>Signup failure</h2>
<h4>Error Occurred</h4>
<p>Signup Again</p>
<p><a class="btn btn-default" onclick="location.href = '@Url.Action("Index","SignUp")'">SIGNUP</a></p>

