@{
    ViewBag.Title = "UserAuthenticationSystem";
}

<div class="jumbotron">
    <h1>UserAuthenticationSystem</h1>
    <p class="lead">A System where user can SignUp and Login into the system.</p>
  
</div>

<div class="row">
    <div class="col-md-6">
        <h2>LogIn</h2>
        <p>
            User can LogIn into the system via This
        </p>
       <p><a class="btn mystyle" onclick="location.href = '@Url.Action("Index","Login")'">LOGIN</a></p>
    </div>
    <div class="col-md-6">
        <h2>SignUP</h2>
        <p>SignUp as a new user in the system</p>
        <p><a class="btn mystyle"  onclick="location.href = '@Url.Action("Index","SignUp")'">SIGNUP</a></p>
    </div>
  </div>